.container {
    display:flex;
    flex-direction: row;
    /* background: blue; */
}

.playerOneDisplay {
    flex-direction: row;
    background: blue;
}

/* img{
    height: 200px;
    width: auto;
} */